{% extends "layout.html" %}
{% block content %}
    <h1>All Projects</h1>
    <form method="POST" action=" ">
        {{ form.hidden_tag() }}
        <div class="" style="text-align: right;">
            <fieldset class="d-inline-block">
                <div class="d-inline-block">
                    {{ form.searched(class="form-control form-control-sm", style="width:fit-content;", type="search", placeholder="Search") }}
                </div>
                <div class="d-inline-block">
                    {{ form.search_submit(class="btn btn-outline-info btn-sm") }}
                </div>
            </fieldset>
        </div>
        <div class="d-flex" style="width: 100%;">

            <fieldset class="d-inline-block">
                <div class="d-inline-block">
                    {{ form.page_number.label(class="form-control-label d-inline-block") }}
                    {% if form.page_number.errors %}
                        {{ form.page_number(class="form-control form-control-sm is-invalid") }}
                            <div class="invalid-feedback ">
                                {% for error in form.page_number.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                    {% else %}
                        {{ form.page_number(class="form-control form-control-sm", style="width:fit-content;", onchange="this.form.submit()") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="spacer"></div>
            <div class="" style="text-align: right;">
                <a class="btn btn-secondary btn-sm mt-0 mb-4 mt-4" href="{{ url_for('projects.new_project') }}" >Create Project</a>
            </div>

        </div>


    </form>

    <div >

    </div>


    {% for project in projects.items %}
        <project class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{{ url_for('users.user_projects', username=project.user.username) }}">
                    {{ project.user.username }}</a>
                <small class="text-muted">{{ project.created.strftime('%Y-%m-%d') }}</small>
            </div>
            <h3><a class="article-title" href="{{ url_for('projects.project', project_id=project.id) }}">
                {{ project.title }}</a>
            </h3>
            <p class="article-content">{{ project.description }}</p>
          </div>
        </project>
    {% endfor %}
    {% for page_num in projects.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
            {% if projects.page == page_num %}
                <a class="btn btn-info mb-4" href="{{ url_for('projects.project_list', page=page_num, page_number=form.page_number.data, searched=form.searched.data) }}"> {{ page_num }}</a>
            {% else %}
                <a class="btn btn-outline-info mb-4" href="{{ url_for('projects.project_list', page=page_num, page_number=form.page_number.data, searched=form.searched.data) }}"> {{ page_num }}</a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
{% endblock content %}