{% extends "layout.html" %}
{% block content %}
    <form method="POST" action="">
        <fieldset class="form-group">
            <div class="form-group">
                {{ form.page_number.label(class="form-control-label") }}
                {% if form.page_number.errors %}
                    {{ form.page_number(class="form-control form-control-sm is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.page_number.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                {% else %}
                    {{ form.page_number(class="form-control form-control-sm", style="width:fit-content;" ) }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info btn-sm") }}
            </div>
        </fieldset>
    </form>


    {% for project in projects.items %}
        <project class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{{ url_for('users.user_projects', username=project.user.username) }}">
                    {{ project.user.username }}</a>
                <small class="text-muted">{{ project.created.strftime('%Y-%m-%d') }}</small>
            </div>
            <h3><a class="article-title" href="{{ url_for('projects.project', project_id=project.id) }}">
                {{ project.title }}</a>
            </h3>
            <p class="article-content">{{ project.description }}</p>
          </div>
        </project>
    {% endfor %}
    {% for page_num in projects.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
            {% if projects.page == page_num %}
                <a class="btn btn-info mb-4" href="{{ url_for('projects.project_list', page=page_num) }}"> {{ page_num }}</a>
            {% else %}
                <a class="btn btn-outline-info mb-4" href="{{ url_for('projects.project_list', page=page_num) }}"> {{ page_num }}</a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
{% endblock content %}