{% extends "layout.html" %}
{% block content %}
    <h1 class="mb-3">Projects by {{ user.username }} ({{ projects.total }})</h1>
    {% for project in projects.items %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{{ url_for('users.user_projects', username=project.user.username) }}">
                  {{ project.user.username }}</a>
              <small class="text-muted">{{ project.created.strftime('%Y-%m-%d') }}</small>
            </div>
            <h2><a class="article-title" href="{{ url_for('users.user_project_tasks', username=project.user.username, title=project.title) }}">
                {{ project.title }}</a></h2>
            <p class="article-content">{{ project.description }}</p>
          </div>
        </article>
    {% endfor %}
    {% for page_num in projects.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if projects.page == page_num %}
          <a class="btn btn-info mb-4" href="{{ url_for('users.user_projects', username=user.username, page=page_num) }}">
              {{ page_num }}</a>
        {% else %}
          <a class="btn btn-outline-info mb-4" href="{{ url_for('users.user_projects', username=user.username, page=page_num) }}">
              {{ page_num }}</a>
        {% endif %}
      {% else %}
        ...
      {% endif %}
    {% endfor %}
{% endblock content %}